@font-face {
    font-family: 'OCR-A Extended';
    src: url('../fonts/OCRAEXT.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}


body {
    background-color: #000000;
}

#grand {
    text-align: center;
    color: #00FF00;
    font-family: 'OCR-A Extended';
}

p {
    color: #00E000;
    font-family: Courier New;
}
